.cst-container{
  padding: 1em;
  width: 100%;
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
  margin-bottom: 1em;
}
.search_bar{
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
  padding: 0 5px;
}
.search_bar:focus{
  background-color: #B2D05C;
  border: none;
}
