.Account-table{
  width: 100%;
  max-width: 700px;
  margin-bottom: 1em;
  /*justify-content: space-between;*/
}

.Account-table > tbody > tr {
  color: #434343;
}

.Account-colSpan > th ,
.Account-nonColSpan > th ,
.Account-colSpan > th > p {
  font-weight: 300;
  margin: 0;
  font-size: 13px;
}

.Account-table > tbody > tr > th {
  height: 40px;
  text-align: left;
  border-left: 3px solid #dbdbdb;
  padding-left: 1em;
  width: 100px;
}

.Account-table-top{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Account-table-top > h3 {
  margin-right: 1em;
  color: #434343;
}
/*.Account-table > tbody > tr {
  margin: 0;
  padding: 0;
}*/

.Account > div {
  min-width: 700px;
}
.AccountManager-Input,
.AccountManager-Cont{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /*min-width: 700px;*/
}
.AccountManager-Cont > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em;
}
.AccountManager-Cont > div > h3 {
  align-self: flex-start;
  font-weight: 500;
  margin: 0 0 1em 0;
  font-size: 15px;
}

.AccountManager-Input > label {
  font-weight: 300;
  margin: 0;
  font-size: 13px;
}
.AccountBranch-Input,
.AccountManager-Input {
  align-items: center;
  margin-bottom: 0.4em;
}
.AccountBranch-Input > input{
  height: 25px;
  width: 170px;
  padding: 0.3em;
  outline: none;
}

.AccountManager-Input > input:focus,
.AccountBranch-Input > input:focus{
  border: 2px solid rgb(0, 188, 212)
}
.AccountManager-Input > input {
  height: 25px;
  width: 230px;
  padding: 0.3em;
  outline: none;
}


.AccountManager-Input > p {
  width: 70px;
  margin: 0 10px 0 0;

}
.AccountManager-Cont > div > label > input {
  width: 250px;
  height: 40px;
  margin-left: 10px;

}
