.Feature-Container{
  width: 100%;
  height: 100%;
  padding: 1em;
}
.auth-success{
  font-family: 'Jeju Gothic', serif;
}

.row{
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

label input{
  font-weight: 600;
  cursor: pointer;
}
