.FormCont{
  width: 100%;
  height: 100%;
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.LoginForm{
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
.Form-Bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.product_img{
  width: 30%;
  max-width: 120px;
}
.listCard{
  width: 200px;
  height: 150px;
  border: 1px solid #ddd;
  margin: 5px;
}
.orderList{
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  width: 100%;
  height: 30%;
  max-height: 280px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}
