@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.SignUp-Container,
.SignIn-Container{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  padding: 2%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.SignIn-Container{ max-width: 400px; width: 40%; }
.SignUp-Container{ max-width: 700px; width: 60%; }

.SignUp-Form label,
.SignIn-Form label{
	display: flex;
  align-self: flex-start;
  font-size: 13px;
}

.rg-branch-no,
.rg-address-zip {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.rg-branch-no input,
.rg-user-info input,
.rg-address-zip input,
.rg-address-info input,
.rg-branch-info input {
  border: 0;
  margin: 0 0 1%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  height: 40px;
  background: #f2f2f2;
}

.rg-user-info input,
.rg-address-info input,
.rg-branch-info input {
  width: 100%;
}

.rg-branch-no input,
.rg-address-zip input {
  width: 70%;
}


.rg-branch-no button,
.rg-user-info button,
.rg-address-zip button,
.rg-submit button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.rg-user-info button,
.rg-submit button {
  background: #4CAF50;
  width: 60%;
}

.rg-submit .message {
  margin-top: 4%;
  color: #b3b3b3;
  font-size: 14px;
}

.rg-submit .message a{
  color: #4CAF50;
	margin-left: 3%;
  text-decoration: none;
  cursor: pointer;
}
.rg-submit .message a:hover{
  font-weight: 700;
  color: #4CAF50;
}

.rg-branch-no button,
.rg-address-zip button {
  background: #5d5656;
  width: 28%;
}
