@import url(https://fonts.googleapis.com/css?family=Roboto);
.signUp-container{
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6dc29c;
}

.tab-nav{
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.tab-content{
  margin-top:1em;
}

.tab-nav span{
  background-color: #dbdbdb;
  cursor: pointer;
  width: 49%;
  text-align: center;
  padding: 1em 0;
}

.tab-nav span.selected {
  color: #4CAF50;
  font-weight: 600;
  background-color: #ffffff;
}
.tab-nav span.disabled {
  color: #ccc;
  cursor: default;
}
