.Child-Cont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Shop-Goods-desc{
  display: flex;
  flex-direction: row;
  padding: 0.5em 1.8em;
  align-items: center;
}
.Shop-Goods-desc > h3,
.Shop-Goods-desc > p { margin: 0; }
.Shop-Goods-desc > p { font-weight: 200; margin-left: 0.5em; font-size: 15px;}
.Cart-Cont, .Shop-Cont{
  width: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.Shop-Search{
  margin: 1em;
  height: 50px;
  border: 1px solid #dbdbdb;
}



.Shop-Goods{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  width: 700px;
  padding: 0.5em 1.8em;
}

.Cart-Goods{
  padding: 0.5em 1.8em;
  width: 700px;
}

.Shop-Select-vol{
  width: 30%;
  height: 100%;
  border: 3px solid #dbdbdb;
  border-bottom-left-radius: 10px;
}

.Shop-Select-vol-num{
  padding: 1em;
}

.Shop-Select-level{
  width: 69%;
  height: 100%;
  border: 3px solid #dbdbdb;
  margin-left: 0.5em;
  display: flex;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: center;
}

.Shop-Select-btn{
  border: 1px solid #dbdbdb;
  width: 63px;
  height: 20px;
  margin: 0.2em;
  border-radius: 10px;

}
.Shop-Select-btn:hover{
  background-color: #fff;
}

.Vol-brn{
  width: 30px;
  height: 30px;
  margin: 10px;
}
.Shop-Coming{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #dbdbdb;
  border-radius: 2em;
  height: 120px;
  width: 100%;
}

.Goods-List{
  display: grid;
  overflow: scroll;
  height: 100%;
  width: 100%;
  grid-template-columns: 50% 1fr;
}
.Goods-cover{
  width: calc(718px/8);
  height: calc(1014px/8);
  margin-right: 0.3em;
}
.Goods-cont{
  height: 130px;
  display: flex;
  flex-direction: row;
  margin: 0.2em;
  padding: 0.3em;
}
.Goods-cont:hover{
  background-color: #dbdbdb;
}


.Goods-ctx-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Goods-title{
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 0.3em 0;
}

.Goods-desc{
  font-weight: 200;
  font-size: 13px;
  margin: 0 0 0.6em 0;
}
.Goods-fixed-price{
  font-weight: 100;
  font-size: 10px;
  margin: 0 0 0.1em 0;
}
.Goods-sales-price{
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  color: #FF4081;
  margin: 0 0 0.2em 0;
}

.Goods-Cart-list{
  padding: 0.5em;
  border: 3px solid #dbdbdb;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: auto;
  overflow: scroll;
  min-height: 250px;
}

.Delivery-Statement-List,
.Select-Goods-List{
  width: 100%;
}
.Delivery-Statement-List{
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 2em;
  /*margin-bottom: 1em;*/
}

.Select-Goods-Title{
  background-color: rgb(0, 188, 212);
  color: #fff;
  height: 30px;
  font-size: 13px;
  /*margin-bottom: 50px;*/
}

.Select-Goods-Detail > td {
  font-weight: 200;
  margin: 0;
  text-align: center;
}
.lang, .title, .level, .volume, .order {
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.order > input {
  outline: 0;
  width: 70%;
  height: 35px;
  padding: 0 0.5em;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
}
.order > input:focus{
  border: 2px solid rgb(0, 188, 212);
}

.Goods-Delivery{
  display: flex;
  flex-direction: row;
}
.Goods-Delivery-Title{
  font-weight: 500;
  font-size: 14px;
  color: rgb(0, 188, 212);
}
.Goods-Delivery-Statement{
  width: 40%;
  padding: 0.3em;
}
.Goods-Delivery-Addr{
  width: 60%;
  /*border: 1px solid #dbdbdb;*/
  padding: 1em;
}
.Goods-Delivery-Addr label{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 1.8em;
  font-weight: 300;
  /*width: 50%;*/
}
.Goods-Delivery-Addr label input{ margin-top: 0.5em; border: 1px solid #dbdbdb;}
.Goods-Delivery-Addr label input:focus{border: 1px solid rgb(0, 188, 212);}
.Delivery-Addr-btn{
  width: 70px;
  margin: 0 0.3em;
  height: 30px;
  border: 0;
  background: rgb(0, 188, 212);
  color: #fff;
  font-weight: 200;
  outline: none;
}
.Delivery-Addr-btn:hover{ background: rgba(0, 188, 212,0.7);}
.Delivery-Addr-btn:active{ background: rgba(0, 181, 202,0.9);}
.Delivery-Addr-Row label{
  flex: 1;
}
.half{ margin-right: 0.3em;}
.Delivery-input{
  padding: 0.2em;
  height: 25px;
  outline: none;
}

.SpaceBtw{
  justify-content: space-between;
  align-items: center;
}

.Delivery-Statement-Item{
  color: rgb(0, 188, 212);
  height: 30px;
  font-size: 10px;
}

.Delivery-Statement-Detail > td {
  font-weight: 200;
  font-size: 13px;
  margin: 0;
}
.Delivery-Statement-Bill{
  padding: 1em;
}
.Delivery-Statement-Bill p {
  margin: 0;
}
.Delivery-Statement-Fixed{
  font-weight: 200;
  font-size: 15px;
  color: #dbdbdb;
  text-decoration: line-through;

}
.Delivery-Statement-Total{
  font-weight: 200;
  font-size: 15px;
}
.Delivery-Statement-Sales{
  font-weight: 400;
  font-size: 30px;
}
.Delivery-Statement-Sales-Per{
  font-weight: 200;
  font-size: 11px;
}
.Delivery-Statement-Col{
  display: flex;
  flex-direction: column;
}
.Delivery-Statement-Row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.Delivery-Addr-Row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
