.Auth-Container{
  /*width: 100%;
  height: window.;*/
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6dc29c;
}

.Auth-logo{
  height: 40px;
  padding: 5px 0;
  margin-bottom: 15px;
}
