.kinder-info-body{
  margin: 1em 1em 2em;
  border-bottom: 1px dashed #d7d7d7;
  display: flex;
  flex-direction: row
}
.kinder-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #1ECD97;
  margin: 0 1em 1em 0;
  width: 95%;
}
.kinder-no{
  padding: 0.2em;
  margin-right:1em;
  width: 2em;
  height: 2em;
  font-size: 20px;
  background-color: none;
  border-radius: 5em;
  border: 3px solid #1ECD97;
  color: #1ECD97;
  text-align: center;
  font-weight: 500;
}
.kinder-temp{
  width: 49%
}
.kinder-body{
  margin: 1em;
}

.kinder-phone,
.kinder-manager,
.kinder-address,
.kinder-address-zip,
.kinder-manager-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kinder-phone,
.kinder-manager,
.kinder-address-zip,
.kinder-address-roadAddr,
.kinder-manager-mobile,
.kinder-address-detailAddr{
  height: 40px;
  margin: 0.3em 0;
}

.kinder-body div p {
  font-size: 14px;
  margin-right: 5px;
}
.kinder-no
.kinder-body div p {
  margin: 0;
}

.kinder-class-body{
  width: 49%;
  display: flex;
  flex-direction: column;
}
.kinder-class-body strong{
  margin-bottom: 0.5em;
}

.kinder-phone > i,
.kinder-manager > i,
.kinder-address > i,
.kinder-manager-mobile > i{
  width: 10%;
  font-size: 20px;
}

.kinder-phone input,
.kinder-manager input,
.kinder-address-body,
.kinder-manager-mobile input{
  width: 85%;
  outline: none;
}

.kinder-address-zip > input,
.kinder-address-roadAddr input,
.kinder-address-detailAddr input{
  width: 100%;
  outline: none;
}

.kinder-top input,
.kinder-phone input,
.kinder-manager input,
.kinder-address-zip > input,
.kinder-address-roadAddr > input,
.kinder-address-detailAddr > input,
.kinder-address-body > input,
.kinder-manager-mobile input{
  font-family: "Roboto", sans-serif;
  height: 100%;
  border: 0;
  margin-right: 5px;
  padding: 0.7rem;
  font-size: 12px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  background-color: #fff;
}
.kinder-top input {
  margin-top: -15px;
  width: 58%;
}


.kinder-btns{
  display: flex;
  flex-direction: row;
  margin-top: -15px;
  justify-content: space-between;
  width: 30%;
}

.kinder-address-zip button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
