.requestedIVes-body{
  display: flex;
  flex-direction: column;
  padding: 1em;
  height:auto;
  border-bottom: 1px dashed #d7d7d7;
}

.requestedIVes-goods-info,
.requestedIVes-contents{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.requestedIVes-recipient{
  margin-bottom: 0.3em;
}
.requestedIVes-recipient strong{
  margin-right: 1em;
}


/* ------transaction-modal-css ---------*/
.returnGoods,
.transaction{
  border: 1px solid #dfdfdf;
  margin-top: 1em;
}


.transaction-top-h{
  border-bottom: 3px solid #dfdfdf;
}
.transaction-top-h-side{
  width:20%;
  display:flex;
  flex-direction: column;
  text-align: center;
}
.inc-stamp{
  width: 35px;
  height: 35px;
  position:absolute;
  right: 15px;
  top: 90px;
  float: right;
  z-index: 10000;
}

.line-r{ border-right:1px solid #dfdfdf !important; }
.line-b{ border-bottom: 1px solid #dfdfdf; }
.line-l{ border-left: 1px solid #dfdfdf; }
.transaction-top-ctx-l{
  border-right:1px solid #dfdfdf;
  padding: 0.2em;
}
.returnGoods-top-h{
  padding: 0.4em;
}
.provider-l > strong {
  letter-spacing: 1px;
}

.transaction-top-ctx{ width: 100%;}
.w-30{ width: 30%; }
.w-40{ width: 40%; }
.w-50{ width: 50%; }
.w-20{ width: 20%; }
.w-70{ width: 70%; }
.w-10{ width: 10%; }
.w-80{ width: 80%; }
.w-90{ width: 90%; }
.w-100{ width: 100%; }

.transaction-top,
.returnGoods-body-title,
.transaction-body-ctx,
.provider-r-1,
.provider-r-2{
  border-bottom: 1px solid #dfdfdf;
}

.transaction-body-top{
  border-bottom: 3px solid #dfdfdf;
  border-top: 2px solid #dfdfdf;
}
.transaction-btm{
  border-top: 2px solid #dfdfdf;
}


.returnGoods-body-items,
.transaction-body-top,
.transaction-body-ctx,
.transaction-top-ctx,
.transaction-btm,
.provider-r-1,
.provider-r-2,
.provider-r-3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.provider-r,
.provider-r-1 strong,
.provider-r-2 strong,
.provider-r-3 strong,
.transaction-top-h-side strong,
.transaction-btm,
.transaction-btm strong,
.transaction-top-ctx-r,
.transaction-top-ctx-l,
.returnGoods-body-items p,
.returnGoods-body-items input,
.returnGoods-body-title p,
.transaction-btm p,
.transaction-top-ctx p,
.transaction-top-h p,
.requestedIVes-inquiry-ctx p,
.requestedIVes-recipient p,
.returnGoods-top h6,
.returnGoods-top-h p,
.returnGoods-top-info p,
.transaction-top-h h6{
  margin: 0;
  padding: 0;
}

.transaction-top-h-side strong,
.transaction-top-ctx-l strong,
.transaction-top-ctx-r strong,
.transaction-btm p,
.transaction-btm strong,
.transaction-body-ctx p,
.transaction-body-top p,
.transaction-top-ctx-r p,
.transaction-top-ctx-l p,
/*.returnGoods-top-h p,*/
.transaction-top-h p{
  font-size: 10px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.provider-l{
  height: 100%;
}

.returnGoods-body-title p,
.provider-l strong,
.provider-r-1 strong,
.provider-r-2 strong,
.provider-r-3 strong,
.returnGoods-top-h,
.transaction-top-h h6{
  text-align: center;
}

.transaction-top-h,
.returnGoods-body-reason,
.returnGoods-body-title,
.transaction-top-ctx,
.transaction-top-ctx-r,
.transaction-top-ctx-l,
.requestedIVes-inquiry{
  display: flex;
  flex-direction: row;
}


.returnGoods-applicant input,
.returnGoods-addr input,
.returnGoods-body-items input{
  border: none;
}

.returnGoods-applicant input:focus,
.returnGoods-addr input:focus,
.returnGoods-body-items input:focus{
   outline:none;
 }
/* ---------------------------*/


/*--------refundGoods----------*/
.returnGoods-top-info{
  display: flex;
  flex-direction: column;
}

.returnGoods-applicant,
.returnGoods-addr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* ---------------------------*/

.requestedIVes-btm{
  border-left: 3px solid #1ECD97;
  height: auto;
  padding: 0.5em 1em;
}
.requestedIVes-btm h6{
  font-weight: 600;
  font-size: 17px;
}
.requestedIVes-inquiry-btn{
  display: flex;
  flex-direction: row;
}
.requestedIVes-inquiry-btn .return-btn,
.requestedIVes-inquiry-btn .bill {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 50%;
  height: 100%;
  border: 0;
  margin: 0.3em;
  padding: 10px;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/*.requestedIVes-inquiry-btn .bill{
  background-color: #42a818;
}*/
.requestedIVes-inquiry-btn .return-btn{
  background-color: #b8182e;
}

.requestedIVes-goods-info p{
  margin: 0 0.5em 0 0.4em;
}

.requestedIVes-goods-line {
  display: flex;
  flex-direction: row;
  margin-right: 0.3em;
  border-right: 2px solid #d7d7d7;
  height: 25px;
  width: 40%;

}
.requestedIVes-total{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.requestedIVes-total p {
  margin: 0;
}

.requestedIVes-total strong {
  font-size: 20px;
}

@media print {
  body * { visibility: hidden;}
  #root{
    height: 1000px;
    position: absolute;
    overflow-y: hidden;
  }
  #print-transaction *{
    visibility: visible;
  }
  #print-transaction {
    position: absolute;
    top: 20px;
  }
}
