/*.address{
height: 30px;
}*/
.delivery button,
.zipcode button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-right: 0.5em;
}
.delivery button{
  background: #4884ce;
}
.zipcode button{
  background:#5d5656;
}

.delivery div label {
  margin-bottom: -5px;
}

.delivery > div {
  margin: 1em 0;
  height: auto;
}

.delivery-zipcode,
.delivery-address,
.delivery-recipient{
  height: 40px;
  margin-bottom: 2em;
}

.delivery-recipient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delivery-recipient .name,
.delivery-recipient .phone {
  width: 49%;
}

.delivery-inquiry textarea {
  width: 100%;
  max-width: 60rem;
  /*font: 900 5vw "Source Sans Pro";*/
  padding: 0.7rem;
  transition: text-shadow;
  resize: none;
  border-radius: 1px;
  border: 1px solid #f2f2f2;
}

.delivery-inquiry textarea:focus {
  outline: 0;
}


.search-close{
  display: flex;
  justify-content: flex-end;
}
.search-address-top{
  display: flex;
  flex-direction: row;
  border: 1px solid #dbdbdb;
  height: 40px;
  padding: 0.2em;
  margin: 0.5em 1em;
  align-items: center;
}

.search-input{
  outline: none;
  border: none;
  width: 90%;
}

.search-icon{
  width: 15px;
  height: 15px;
}
.search-address-results{
  margin: 1em 1em 0;
  overflow: scroll;
  height: 80%;
}

.search-address-results p,
.search-address-results-header p {
  margin:0;
  font-size: 15px;
}
.search-address-result{
  padding: 0.3em 0.7em;
  width: 100%;
  margin: 0.4em 0;
  border-left: 3px solid #4884ce;
}

.search-address-top > button{
  width: 20%;
  background: transparent;
  color: gray;
  padding: 0;
  margin: 0;
}
