.Invoice-Container{
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.Invoice-Total{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*padding: 1em;*/
}
.Invoice-Total p {
  margin: 0;
}

.Invoice-Total-Price{
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding: 0.2em 1em;
}

.selected-goods{
  padding-bottom: 1em;
  border-bottom: 1px solid #dfdfdf;
}

.selected-goods-detailed{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dfdfdf;
  padding: 1em;
}
.selected-goods-detailed p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 0.3em;
}
.selected-goods-detailed-ctx{
  padding: 0.3em;
}
