@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.has-Header{
  margin-top: 80px;
}

.Products-List{
  display: flex;
  flex-direction: row;
  padding: 1em;
  width: 100%;
  height: 40%;
  max-height: 300px;
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
  margin-top: 1em;
}

h4{
  font-family: 'Jeju Gothic', serif;
  margin: 0.5em 0;
}

.goods-list{
  display: flex;
  flex-direction: row;
}
.goods-list-ctx{
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
  margin-right: 1em;
  /*height: 100px;*/
  padding: 0.5em;
}

.goods-list > div:hover{
  background-color: #dbdbdb;
  cursor: pointer;
}

.goods-cover{
  width: calc(718px/8);
  height: calc(1014px/8);
}
