.header-bar{
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 60px;
  border: none;
  /*background-color: rgba(255,255,255,1);*/
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
  display: flex;
  align-items: center;
  background-color: #1ECD97;
}
.head-logo{
  background-color: white;
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
nav ul{
  margin: 0;
}

.head-menu{
  display: inline;
  height: 100%;
  display: flex;
  align-items: center;
  width: 20%;
  /*border: 0.5px solid gray;*/
  margin-right: 1em;
}

.head-menu:hover{
  background-color: white;
  border-radius: 0.2em;
  /*opacity: 0.5;*/
  height: 80%;
  font-weight: 600;
}
.head-menu:hover p{
  color: #1ECD97;
}
.head-menu a {
  width: 100%;
  text-align: center;
}
.head-menu p {
  /*color: #1ECD97;*/
  color: white;
  font-size: 16px;
  transition: all 0.5s ease;
  display: inline-block;
  margin: 0;
}

nav {
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  height: 58px;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}
nav ul{
  height: 58px;
  display: flex;
  align-items: center;
}

.header-menu{
  width: 70%;
}

.logo {
  height: 30px;
}
.Logout{
  float: right;
  width: 10%;
  cursor: pointer;
}
