
.Kinder-Cont-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 700px;
}

.KinderCard-Input,
.KinderCard-info-addr,
.KinderCard-Cont{
  display: flex;
  flex-direction: column;
}

.KinderCard-Cont {
  min-width: 700px;
  border: 1px dashed #dbdbdb;
  padding: 0.8em;
}

.KinderCard-top{
  height: 40px;
  margin-bottom: 1em;
}

.KinderCard-info-mng,
.KinderCard-top,
.KinderCard-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.KinderCard-info-mng,
.KinderCard-info{
  justify-content: space-between;
}
.KinderCard-info-l > div {
  margin-bottom: 1em;
}
.KinderCard-info > div {
  width: 100%;
  margin-right: 0.5em;
}

.KinderCard-Input > p {
  margin: 0 0 0.2em 0;
  font-weight: 500;
  font-size: 13px;
}
